<div class="input-group mb-3"> 
    <select class="form-control colonnes" name="colonnes" id="colonnes">
    <option value="first_name">first_name</option><option value="last_name">last_name</option><option value="gender">gender</option><option value="city_of_birth">city_of_birth</option><option value="city">city</option> <option value="status">status</option><option value="last_publication">last_publication</option><option value="mail">mail</option><option value="date_of_birth">date_of_birth</option>
</select>
<input placeholder="Enter Price" type="text" name="mytext[]" class="form-control"><div class="input-group-append"><button class="btn btn-outline-danger remove_field" type="button">Remove</button></div></div>
