<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Big Data</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Search</span></a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'search' in segment %} active {% endif %}">
                    <a href="/search_by_colonne" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Search By Colonne</span></a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'imports' in segment %} active {% endif %}">
                    <a href="/imports" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Import</span></a>
                </li>


                <li data-username="statut" 
                    class="nav-item {% if 'merge' in segment %} active {% endif %}">
                    <a href="{{ url_for('home_blueprint.merge') }}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Jointure</span></a>
                </li>
                <li data-username="statut" 
                class="nav-item {% if 'statut' in segment %} active {% endif %}">
                <a href="{{ url_for('home_blueprint.statut') }}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                        class="pcoded-mtext">Statut</span></a>
                </li>
               
                <li data-username="statut" 
                class="nav-item {% if 'colonne_search' in segment %} active {% endif %}">
                <a href="{{ url_for('home_blueprint.create_colonne') }}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                        class="pcoded-mtext">Colonne Search</span></a>
                </li>
            
                            
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
