{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Import Page </h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Import Page</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Importation de données</h5>
                                        </div>
                                        <div class="card-body">
                                          <div class="alert-success">
                                            <!-- {% with messages = get_flashed_messages() %}
                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            {{ message }}
                                                        {% endfor %}
                                                    {% endif %}
                                                    {% endwith %} -->
                                            {% for category, message in get_flashed_messages(with_categories=True) %}
                                            <div class="alert-{{category}}"> {{ message }}</div>
                                            {% endfor %}
                                          </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    

                                                    <form method="POST"  action="{{ url_for('home_blueprint.upload_file') }}" enctype="multipart/form-data">
                                                        <div class="form-group">
                                                            <label for="formFileLg" class="form-label">Upload CSV</label>
                                                             <input class="form-control form-control-lg" name="file" id="formFileLg" type="file" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="row">
                                                            <div class="col-md-6">
                                                                <label for="exampleFormControlSelect1">Index</label>
                                                                <select class="form-control" name="index_type" id="exampleFormControlSelect1">
                                                                    <option>Other</option>
                                                                    {% for doc in doc_type %}
                                                                    <option value="{{doc.name}}">{{doc.name}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                            <label for="exampleInputEmail1">If Other</label>
                                                            <input type="text" name="new_index_type" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                                                          </div>
                                                        </div>
                                                    </div>
                        
                                                        <div class="form-group">
                                                            

                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label for="exampleFormControlSelect1">Delimiter</label>
                                                                    <select class="form-control" name="delimiter" id="exampleFormControlSelect1">
                                                                        <option>,</option>
                                                                        <option>;</option>
                                                                        <option>: </option>
                                                                        <option>|</option>
                                                                        <option>tab</option>
                                                                    </select>
                                                                </div>
                                                                <!-- <div class="col-md-6">
                                                                    <div class="form-check form-switch"><br>
                                                                        
                                                                        <input class="form-check-input" type="checkbox" id="mySwitch" name="header" value="0" checked>
                                                                        <label class="form-check-label" for="mySwitch">Header</label>
                                                                    </div>
                                                              </div> -->
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="row">
                                                            <!-- <div class="col-md-6">  <button  class="btn btn-primary">preview</button> </div> -->
                                                            <div class="col-md-4">  <button type="submit" class="btn btn-primary">Preview</button> </div>
                                                        </div>
                                                       
                                                        
                                                    </form>
                                                </div>
                                                
                                            </div>
                                            <h5 class="mt-5">Sizing</h5>
                                            <hr>
                                            
                                        </div>
                                    </div>
                            
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
