{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

    {% endblock stylesheets %}

{% block content %}

     <!-- [ Main Content ] start -->
<section class="pcoded-main-container">
<div class="pcoded-wrapper">

<div class="pcoded-content">
<div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <!-- <h5 class="m-b-10">Bootstrap Basic Tables</h5> -->
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                        <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
        
                <!-- [ stiped-table ] start -->
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                                <!-- method="POST"  action="{{ url_for('home_blueprint.search') }}" 
                                    <span class="d-block m-t-5">use class <code>table-striped</code> inside table element</span> -->
                            <form method="post" action="{{ url_for('home_blueprint.search') }}" 
                            id="multiple_select_form" class="form-inline row ">
                                <div class="form-group col-md-8 mb-2">
                                    <select name="colonnes" id="colonnes" class="form-control  selectpicker " 
                                        data-live-search="true" multiple placeholder="select colonne" >
                                        {% if fields %}
                                            {% for key in fields %}
                                                <option value="{{key}}"> {{key}}</option>
                                                {%endfor %}
            
                                        {% endif %}        
                                        </select>
                                        <input type="hidden"   name="hidden_colonnes" id="hidden_colonnes" >

                                </div>
                                <div class="form-group col-md-2  mb-2 ">
                                    <input type="text" class="form-control "  name="value"  placeholder="entré une valeur">
                                </div>
                               
                                <div class="form-group col-md-12 mb-2">
                                    <Button   type="submit"
                                     class="btn btn-outline-dark my-1 my-sm-0" > Search .....</button>
                                   
                                </div>
                               
                            </form>
                        </div>
                        <div class="card-block table-border-style">
                            <button class="btn btn-dark" onclick="tableToExcel()">Export</button>

                            <div class="table-responsive">
                                {% if nbr > 0 %}
                                <h5>Total result: {{ total }}</h5>
                                {%else %}
                                <h5>Total result: {{ total }}</h5>
                                {% endif %}
                                <table class="table bg-red table-striped ">
                                    <thead class="table-dark"> 
                                        {% if nbr > 0 %}
                                        <tr> {% for key in colonnes %}
                                            <th>{{key}} </th>
                                            {%endfor %}

                                        </tr>
                                        {% endif %}
                                    </thead>
                                    <tbody>
                                        {% if nbr > 0 %}
                                        {% for key in personnes %}
                                        <tr> 
                                            {% for i in range(nbrColonne) %}
                                             <td>{{key['_source'][fields[i]]}}</td>		
                                             {% endfor%}							
                                            <!-- <td>{{key['_source']["UID"]}}</td>
                                            <td>{{key['_source']["number"]}}</td>
                                            <td>{{key['_source']["first_name"]}}</td>
                                            <td>{{key['_source']["last_name"]}}</td>
                                            <td>{{key['_source']["gender"]}}</td>
                                            <td>{{key['_source']["city_of_birth"]}}</td>

                                            <td>{{key['_source']["city"]}}</td>
                                            <td>{{key['_source']["status"]}}</td>
                                            <td>{{key['_source']["company"]}}</td>
                                            <td>{{key['_source']["last_publication"]}}</td>
                                            <td>{{key['_source']["mail"]}}</td>
                                            <td>{{key['_source']["date_of_birth"]}}</td> -->
                                                       
                                        </tr>
                                        {% endfor%} 
                                        {% else %}
                                        <H4>Aucune Correspondance</H4>
                                    {% endif %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ stiped-table ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>
</div>

</div>
</section>
    <!-- [ Main Content ] end -->        

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<script>
    $(document).ready(function(){
        $('#colonnes').change(function(){
            $('#hidden_colonnes').val($('#colonnes').val());
        })
       
    })
</script>

{% endblock javascripts %}






