{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

    {% endblock stylesheets %}

{% block content %}

     <!-- [ Main Content ] start -->
<section class="pcoded-main-container">
<div class="pcoded-wrapper">

<div class="pcoded-content">
<div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <!-- <h5 class="m-b-10">Bootstrap Basic Tables</h5> -->
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                        <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
        
                <!-- [ stiped-table ] start -->
                <div class="col-md-12">
                    <div class="card">
              
                        <div class="card-block table-border-style">
                            
                        <form method="POST"  action="{{ url_for('home_blueprint.saved_file') }}" >
                            <div class="row">
                                <div class="col-md-2">
                                    <button class="btn btn-dark" type="submit" id="submit"> submit</button>
                                </div>
                                                                        
                                <div class="col-md-3"> 
                                    <select class="form-control" name="header" id="exampleFormControlSelect1">
                                        <option>Add header</option>
                                        <option >oui</option>
                                        <option>non</option>
                                    </select>
                                </div> 
                                <input type="hidden"   name="sep" value="{{delimiter}}" > 
                                <input type="hidden"   name="filename" value="{{filename}}" > 
                                <input type="hidden" id="hidden_colonnes"   name="hidden_colonnes" > 
                             </div>
                             <div class="table-responsive">  
                                <table class="table bg-red table-striped ">
                                    <thead class="table-dark"> 
                                        <tr>
                                            
                                            {% for i in range(nbrColonne)%}
                                            <td>
                                            <select name="colonnes" id="colonnes" class="form-control colonnes"  id="colonnes">
                                             {% if fields %}
                                             <option value="delete">Delete</option>
                                                {% for value in fields %}
                                                    <option value="{{value}}" checked> {{value}}</option>
                                                    {%endfor %}
                                            {% endif %}  
                                             </select>
                                            </td>
                                            {% endfor %}
                                        
                                                
                                            
                                        </tr>
                                         <!-- <tr>
                                          {% for value in colonnes%} 
                                          <th>{{value}}</th>
                                          {% endfor %}
                                        </tr>  -->

                                        <tr>
                                            
                                            {% for value in colonnes %}
                                            <td>              
                                                <input value="{{value}}" type="text"
                                                 name="mytext[]" class="form-control" readonly="true" >
                                                   
                                            </td>
                                            {%endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                      
                                        {% for value in myData%} 
                                      <tr> 
                                        {% for i in range(nbrColonne)%}
                                        <td>{{ value[i] }}</td> 
                                        {% endfor %}
                                      </tr> 
                                      {% endfor %} 
                                   
                                        
                                    </tbody>
                                </table>
                            </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ stiped-table ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>
</div>

</div>
</section>
    <!-- [ Main Content ] end -->        

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


   <script>
     document.getElementById('submit').onclick = function() {
            var checked = document.querySelectorAll('#colonnes :checked');
            var selected = [...checked].map(option => option.value);
            $('#hidden_colonnes').val(selected);
            
        }
   </script>  


{% endblock javascripts %}











