{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

    {% endblock stylesheets %}

{% block content %}

     <!-- [ Main Content ] start -->
<section class="pcoded-main-container">
<div class="pcoded-wrapper">

<div class="pcoded-content">
<div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <!-- <h5 class="m-b-10">Bootstrap Basic Tables</h5> -->
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                        <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
        
                <!-- [ stiped-table ] start -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                                
                                    <form method="POST"  action="{{ url_for('home_blueprint.searchmultiple') }}" >
                                        <div class="input_fields_wrap">
                            
                                        <button type="submit" class="btn btn-primary add_field_button" id="add_field_button">Add More Fields</button>
                                        </div>
                                       
                                        <input type="hidden"   name="hidden_colonnes" id="hidden_colonnes" >
                                        <button type="submit" id="submit" class="btn btn-primary ">Submit</button>
                                    </form>
                        </div>
                        <div class="card-block table-border-style">
                            <button class="btn btn-dark" onclick="tableToExcel()">Export</button>
                            <div class="table-responsive">
                                {% if nbr > 0 %}
                                <h5>Total result: {{ total }}</h5>
                                {%else %}
                                <h5>Total result: {{ total }}</h5>
                                {% endif %}
                                <table class="table bg-red table-striped ">
                                    <thead class="table-dark"> 
                                        {% if nbr > 0 %}
                                        <tr> {% for key in fields %}
                                            <th>{{key}} </th>
                                            {%endfor %}

                                        </tr>
                                        {% endif %}
                                    </thead>
                                    <tbody>
                                        {% if nbr > 0 %}
                                        {% for key in personnes %}
                                        <tr> 
                                            									
                                            <td>{{key['_source']["UID"]}}</td>
                                            <td>{{key['_source']["number"]}}</td>
                                            <td>{{key['_source']["first_name"]}}</td>
                                            <td>{{key['_source']["last_name"]}}</td>
                                            <td>{{key['_source']["gender"]}}</td>
                                            <td>{{key['_source']["city_of_birth"]}}</td>

                                            <td>{{key['_source']["city"]}}</td>
                                            <td>{{key['_source']["status"]}}</td>
                                            <td>{{key['_source']["company"]}}</td>
                                            <td>{{key['_source']["last_publication"]}}</td>
                                            <td>{{key['_source']["mail"]}}</td>
                                            <td>{{key['_source']["date_of_birth"]}}</td>
                                                       
                                        </tr>
                                        {% endfor%} 
                                        {% else %}
                                        <H4>Aucune Correspondance</H4>
                                    {% endif %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ stiped-table ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>
</div>

</div>
</section>
    <!-- [ Main Content ] end -->        

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


     <script>
        $(document).ready(function() {
        var max_fields      = 10; //maximum input boxes allowed
        var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
        var add_button      = $(".add_field_button"); //Add button ID
    
        var x = 1; //initlal text box count
        $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
            if(x < max_fields){ //max input box allowed
                x++; //text box increment
                $(wrapper).append('<div class="input-group mb-3"> <select name="colonnes" class="form-control"  id="colonnes"><option value="UID">UID</option><option value="number">number</option><option value="first_name">first_name</option><option value="last_name">last_name</option><option value="gender">gender</option><option value="city_of_birth">city_of_birth</option><option value="city">city</option> <option value="status">status</option><option value="last_publication">last_publication</option><option value="mail">mail</option><option value="date_of_birth">date_of_birth</option></select><input  type="text" name="mytext[]" class="form-control" required><div class="input-group-append"><button class="btn btn-outline-danger remove_field" type="button">Remove</button></div></div>'); //add input box
              
                
            }
        });
    
        $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
            e.preventDefault(); $(this).parent('div').parent('div').remove(); x--;
            })
        });

       
        document.getElementById('submit').onclick = function() {
            var checked = document.querySelectorAll('#colonnes :checked');
            var selected = [...checked].map(option => option.value);
            $('#hidden_colonnes').val(selected);
            
        }
      </script>
     


{% endblock javascripts %}






